<%= form_with model: User, url: login_path do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email, required: true %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>
  <%= form.submit "Sign In" %>
<% end %>

<%= link_to "Sign up", sign_up_path %>